<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Nyusu</title>
	</head>
	<body>
    <h2>Number of dogs: {{ . | len }}</h2>
    <ul>
      {{ range . -}}
      --
      Id: {{ .ID }}
      Title: {{ .Title }}
      {{ if (ne .Description.String "") }}Description: {{ .Description.String }}{{ else }}{{ end }}
      {{ end -}}
    </ul>
	</body>
</html>