.regoptions {
  display: grid;
  justify-content: center;
  gap: 0.8rem;

  a {
    text-align: center;
  }
}

.posts-list {
  display: grid;
  list-style: none;
  padding: 0 1rem;
  gap: 1rem;

  li {
    display: grid;
  }
}

.add {
  margin: 1rem;
  padding: 0 .5em;

  form {
    display: grid;
    gap: 1rem;
  }
}
