<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nyusu</title>
  <link rel="stylesheet" href="/static/css/auth.css" />
</head>

<body>
  <main>
    <h1>{{ if .Register }} Register {{ else }} Log in {{ end }}</h1>
    <form action={{ if .Register }}"/users/register"{{ else }}"/users/login"{{end}} method="post"
      style="display: flex; flex-direction: column; gap: 1rem;">
      <label for="email">Email</label>
      <input name="email" type="text" required />
      {{ if .Register }}
      <label for="password">Password</label>
      <input name="password" type="password" required />
      <label for="confirmPassword">Confirm Password</label>
      <input name="confirmPassword" type="password" required />
      {{ if .Error }}
      <span style="font-size: 12px; color: red;">
        {{ .Error }}
      </span>
      {{end}}
      {{ else }}
      <label for="password">Password</label>
      <input name="password" type="password" required />
      {{ if .Error }}
      <span style="font-size: 12px; color: red;">
        {{ .Error }}
      </span>
      {{ end }}
      {{ end }}
      <button type="submit">
        {{ if .Register }} Sign up {{ else }} Log in {{ end }}
      </button>
    </form>
  </main>
</body>

</html>
