{{ define "css" }}
<link rel="stylesheet" href="/static/css/index.css" />
{{ end }}

{{ define "body" }}
<section class="posts">
  <ul class="posts-list">
    {{ if .Feeds }}
    {{ range .Feeds }}
    <li>
      <a rel="noopener noreferrer" href="/feeds/{{ .ID }}">{{ .Name }}</a>
      <span>{{ .Description.String }}</span>
      <form method="post" action="/unsubscribe/{{ .ID_2 }}" style="display: inline;">
        <button type="submit" class="unsubscribe-btn"
          onclick="return confirm('Are you sure you want to unsubscribe from this feed?')">Unsubscribe</button>
      </form>
    </li>
    {{ end }}
    {{ else }}
    <span>no feeds</span>
    {{ end }}
  </ul>
</section>
{{ end }}
