{{ define "css" }}
<link rel="stylesheet" href="/static/css/index.css" />
{{ end }}

{{ define "body" }}
{{ if .Authenticated }}
<ul class="posts-list">
  {{ if .Posts }}
  {{ range .Posts }}
  <li>
    <a rel="noopener noreferrer" href="{{ .Url }}">{{ .Title }}</a>
    <span>{{ .Name }}</span>
    <span>{{ .PublishedAt | date }}</span>
  </li>
  {{ end }}
  {{ else }}
  <span>no posts</span>
  {{ end }}
</ul>
{{ else }}
<div class="regoptions">
  <a href="/login">Login</a>
  <a href="/register">Register</a>
</div>
{{ end }}
{{ end }}
