{{ define "layout" }}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/layout.css" />
  <link rel="icon" href="/static/favicon.ico" sizes="any">

  {{ template "css" }}
  <title>Nyusu</title>

</head>

<body>
  <header>
    <section>
      <a href="/" class="logo-link">
        <img src="/static/nyusu-icon.svg" alt="Nyusu" class="logo" />
      </a>
      {{ if .Authenticated }}
      <form action="/users/logout" method="post">
        <button type="submit">Logout</button>
      </form>
      {{ end }}
    </section>
    {{ if .Authenticated }}
    <nav class="menu">
      <ul role="navigation">
        <li>
          <a href="/add">
            Add
          </a>
        </li>
        <li>
          <a href="/feeds">
            Feeds
          </a>
        </li>
        <li>
          <a href="/bookmarks">
            Bookmarks
          </a>
        </li>
        <li>
          <a href="/about">
            About
          </a>
        </li>
      </ul>
    </nav>
    {{ end }}
  </header>
  {{ template "body" . }}
</body>

</html>
{{ end }}
