<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{ template "css" }}
  <title>Nyusu</title>

</head>

<body>
  <main>
    <header>
      <h1><a href="/">Nyusu</a></h1>
      {{ if .Authenticated }}
      <div class="logout">
        <a href="/add">Add Feed</a>
        <form action="/users/logout" method="post">
          <button type="submit">Logout</button>
        </form>
      </div>
      {{ else }}
      <div class="hidden-right"></div>
      {{ end }}
    </header>
    <section>
      <ul>
        <li>
          <a href="/feeds">
            Feeds
          </a>
        </li>
        <li>
          <a href="/bookmarks">
            Bookmarks
          </a>
        </li>
      </ul>
    </section>
    {{ template "body" . }}
  </main>
</body>

</html>
